{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>

<form method="post" action="{% url 'login' %}">{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="hidden" name="next" value="{{ next }}"/>
	<input type="submit" value="Submit"/>
</form>

{% endblock %}
