{% extends 'seminar/base.html' %}
{% load i18n %}
{% block title %}
{% trans "Events" %}
{% endblock %}

{% block navigation_menu %}
{{ block.super }}
{% if perms.seminar.add_event %}
<li class="seminar_admin"><a href="{% url 'seminar-event-create' %}">{% trans "New event" %}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{% trans "Events" %}</h1>

{% if not event_list %}
<p>
Congratulations, the example project for <code>django-seminar</code> seems to
be running correctly! You can now experiment with the application by creating
content:
</p>
<ul>
  <li>First, <a href="{% url 'login' %}?next={% url 'seminar-event-list' %}">log in</a> as administrator.</li>
  <li>Then go to the <a href="/admin/">administration</a> page and 
    <a href="/admin/seminar/eventkind/add/">create an event kind</a>.</li>
  <li>You can also <a href="/admin/seminar/talkkind/add/">create a talk kind</a>.</li>
  <li>Now you can use the default views using the links in the top bar to
    manipulate events, talks and sessions.</li>
</ul>
<p>
This message will disappear when an event is created.
</p>
{% endif %}

{% for event in event_list %}
{% include "seminar/event_div.html" %}
{% endfor %}

{% endblock %}
