body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #888;
	color: black;
}

#content {
	max-width: 60em;
	margin: 1ex auto;
	padding: 1ex 2em;
	background: white;
	border: solid 1px black;
}

#navigation {
	width: 100%;
	height: 4ex;
	padding: 0;
	background: black;
	color: #ccc;
}

#navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#navigation li {
	position: relative;
	float: left;
	margin: 0;
	height: 3.6ex;
	padding: 0.2ex 0.4em;
	line-height: 3.6ex;
	vertical-align: bottom;
	background: black;
}
#navigation li:first-child {
	border-left: solid 1px #888;
}
#navigation #auth_links li {
	float: right;
}
#navigation #auth_links li:first-child,
#navigation ul:first-child li:first-child {
	border: none;
}
#navigation li:hover {
	background: #444;
}
#navigation a {
	color: inherit;
	text-decoration: none;
}
#navigation .admin, #admin_links {
	color: #c97;
}

ul, p {
	margin: 0.2ex 0;
}

h3 a {
	color: black;
}

a:link {
	color: #008;
}
a:visited {
	color: #408;
}

.talk-kind-invited { color: #800; }
