{% load static %}
<html>
	<head>
		<title>{% block title %}Seminar test{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "css/seminar.css" %}"/>
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		<div id="navigation">
			<ul>
			{% block navigation_links %}
				<li><a href="{% url 'seminar-event-list' %}">Home</a></li>
			{% endblock %}
			</ul>
			<ul id="admin_links">
			{% block admin_links %}
			{% endblock %}
			</ul>
			<ul id="auth_links">
			{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
				{% if user.is_staff %}
				<li class="admin"><a href="/admin/">Admin</a></li>
				{% endif %}
			{% else %}
				<li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
			{% endif %}
			</ul>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
