{% extends event.kind.template_event_base %}
{% load i18n %}
{% load l10n %}
{% block content %}

<h1>{% trans "Timetable" %}</h1>

<div class="seminar_calendar">
<div class="seminar_hour_list">
{% for time,ratio in hour_list %}
<span class="seminar_hour_mark" style="top:{{ ratio|unlocalize }}%">
	<span>{{ time|time:'G:i' }}</span>
</span>
{% endfor %}
</div>
<ul class="seminar_day_list">
{% for day in day_list %}
	<li class="seminar_day_item"
			style="left:{{ day.begin_ratio|unlocalize }}%;width:{{ day.length_ratio|unlocalize }}%">
		<span class="seminar_day_title">{{ day.date|date:'l j' }}</span>
		{% if day.item_list %}
		<ul class="seminar_session_list">
		{% for item in day.item_list %}{% with s=item.session t=item.session.talk %}
		<li class="seminar_session_item{% if t %} seminar_kind_{{ t.kind.slug }}{% endif %}"
				style="top:{{ item.begin_ratio|unlocalize }}%;height:{{ item.length_ratio|unlocalize }}%">
			<span class="seminar_content">
				{% if t %}
				{% if t.speakers.all %}<span class="seminar_speaker">{% for speaker in t.speakers.all %}
					{{ speaker.short_name }}{% if not forloop.last %},{% endif %}{% endfor %}</span>{% if t.title or s.title %},{% endif %}{% endif %}
				{% if t.title or s.title %}<a class="seminar_title" href="{{ t.get_absolute_url }}">{{ t.title }}{% if s.title %}{% if t.title %}
					&ndash; {% endif %}{{ s.title }}{% endif %}</a>{% endif %}
				{% else %}
				{{ s.title }}
				{% endif %}
			</span>
		</li>
		{% endwith %}{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
</div>

{% endblock %}
