{% extends 'seminar/base.html' %}
{% load i18n %}
{% block content %}

<form action="." method="post">{% csrf_token %}
<table>
	{{ form.as_table }}
</table>
<p><input type="submit" value="{% trans "Submit" %}"/></p>
</form>

{% endblock %}
