{% extends event.kind.template_event_base %}
{% load i18n %}
{% block content %}

<p>{% blocktrans %}
You are about to delete this event: <strong>{{ event }}</strong>.
{% endblocktrans %}</p>

<form action="." method="post">{% csrf_token %}
	<input type="submit" value="{% trans "Confirm" %}"/>
</form>

{% endblock %}
