{% extends 'seminar/base.html' %}
{% load i18n %}
{% block title %}
{% trans "Events" %}
{% endblock %}

{% block navigation_menu %}
{{ block.super }}
{% if perms.seminar.add_event %}
<li class="seminar_admin"><a href="{% url 'seminar-event-create' %}">{% trans "New event" %}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{% trans "Events" %}</h1>

{% for event in event_list %}
{% include "seminar/event_div.html" %}
{% endfor %}

{% endblock %}
