{% extends event.kind.template_event_base %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block content %}

<h1>
	{{ event.title|default:event.kind.name }},
	<span class="seminar_date">
		{{ event.date_begin|date:"DATE_FORMAT" }}
		{% if event.date_end != event.date_begin %}
		&ndash; {{ event.date_end|date:"DATE_FORMAT" }}
		{% endif %}
	</span>
</h1>

{% if event.short_description %}
<div class="seminar_description">
	{{ event.short_description|markdown }}
</div>
{% endif %}

{% if event.long_description %}
<div class="seminar_long_description">
	{{ event.long_description|markdown }}
</div>
{% endif %}

{% if event.talk_set.all %}
<h2>{% trans "Talks" %}</h2>

{% regroup event.talks_by_kind by kind as kind_list %}
{% for kind in kind_list %}
{% if kind_list|length > 1 %}
<h3>{{ kind.grouper.name }}{{ kind.list|length|pluralize }}</h3>
{% endif %}
{% include "seminar/talk_list_short.html" with talk_list=kind.list %}
{% endfor %}
{% endif %}

{% if event.post_scriptum %}
<div class="seminar_postscriptum">
	{{ event.post_scriptum|markdown }}
</div>
{% endif %}

{% endblock %}
