{% extends event.kind.template_session_base %}
{% load i18n %}
{% block content %}

<p>{% blocktrans %}
You are about to delete this session: <strong>{{ session }}</strong>.
{% endblocktrans %}</p>

<form method="post" action=".">{% csrf_token %}
	<p><input type="submit" value="{% trans "Confirm" %}"/></p>
</form>

{% endblock %}
