{% extends event.kind.template_event_base %}
{% load i18n %}
{% block admin_links %}
	{% if perms.seminar.change_session %}
	<li class="seminar_admin"><a href="{% url 'seminar-session-edit' session.event.slug session.id %}">{% trans "Edit session" %}</a></li>
	{% endif %}
	{% if perms.seminar.delete_session %}
	<li class="seminar_admin"><a href="{% url 'seminar-session-delete' session.event.slug session.id %}">{% trans "Delete session" %}</a></li>
	{% endif %}
{% endblock %}
