{# vim: set syntax=htmldjango : #}
{% load markdown_deux_tags %}
{% regroup session_list by date as day_list %}
{% for day in day_list %}
{% if event.date_begin != event.date_end %}
<h3>{{ day.grouper|date:"DATE_FORMAT" }}</h3>
{% endif %}

<dl class="seminar_programme">
{% for session in day.list %}{% with talk=session.talk %}
	<dt class="seminar_time">
		{{ session.time_begin|time:"G:i" }}
		&ndash; {{ session.time_end|time:"G:i" }}
	</dt>
	{% if talk %}
	<dd class="seminar_talk seminar_talk_kind_{{ talk.kind.slug }}">
		{% include 'seminar/talk_item.html' %}
	</dd>
	{% else %}
	<dd class="seminar_intermission">
		<span class="seminar_title">{{ session.title }}</span>
		{% if perms.seminar.change_session %}
		<span class="seminar_options">
			<a href="{% url 'seminar-session-edit' event.slug session.id %}" class="seminar_admin">modifier</a>,
			<a href="{% url 'seminar-session-delete' event.slug session.id %}" class="seminar_admin">supprimer</a>
		</span>
		{% endif %}
	</dd>
	{% endif %}
{% endwith %}{% endfor %}
</dl>

{% endfor %}
