{% extends event.kind.template_session_base %}
{% block content %}

<h2>
	{{ session.title }}
</h2>

<p>
{{ session.date }},
{{ session.time_begin }} &ndash; {{ session.time_end }}.
</p>

{% endblock %}
