{% extends event.kind.template_talk_base %}
{% load i18n %}{% load markdown_deux_tags %}{% load seminar %}
{% block content %}

<h2>
	{% if talk.speakers.all %}
	<span class="seminar_speaker">{% for speaker in talk.speakers.all %}{% if not forloop.first %}{% if forloop.last %}{% trans " and" %}{% else %}{% trans "," %}{% endif %}{% endif %}
		{{ speaker|name_reference }}{% endfor %}</span>,
	{% endif %}
	<span class="seminar_title">{% if talk.title %}{{ talk.title }}{% else %}{% trans "TBA" %}{% endif %}</span>
</h2>

{% if talk.session_set.all %}
<h3>{% trans "Schedule" %}</h3>
<ul>
	{% for session in talk.session_set.all %}
	<li>
		{{ session.date }}, {{ session.times }}{% if session.title %}:
		{{ session.title }}{% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}

{% if talk.abstract %}
<h3>{% trans "Abstract" %}</h3>
<div class="seminar_abstract">
	{{ talk.abstract|markdown }}
</div>
{% endif %}

{% if talk.attachment_set.all %}
<h3>{% trans "Attachments" %}</h3>
<ul class="seminar_attachments">
	{% for item in talk.attachment_set.all %}
	<li><a href="{{ item.get_url }}">{{ item.name }}</a></li>
	{% endfor %}
</ul>
{% endif %}

{% endblock %}
