{# vim: set syntax=htmldjango : #}
{% load i18n %}{% load markdown_deux_tags %}{% load seminar %}
<div class="seminar_speaker">
	{% for speaker in talk.speakers.all %}{% if not forloop.first %}{% if forloop.last %}{% trans " and" %}{% else %}{% trans "," %}{% endif %}{% endif %}
	{{ speaker|name_reference }}{% endfor %}
</div>
<div class="seminar_title">
	{% if talk.kind.slug != "regular" %}<span class="seminar_remark">
		{{ talk.kind.name }}{% if talk.title %}:{% endif %}
	</span>{% endif %}
	<a href="{{ talk.get_absolute_url }}">{% if talk.title %}{{ talk.title }}{% else %}{% trans "TBA" %}{% endif %}</a>
</div>
{% if talk.abstract %}
<div class="seminar_abstract">
	{{ talk.abstract|markdown }}
</div>
{% endif %}
{% if talk.attachment_set.all %}
<ul class="seminar_files">
	{% for item in talk.attachment_set.all %}
	<li><a href="{{ item.get_url }}">{{ item.name }}</a></li>
	{% endfor %}
</ul>
{% endif %}
