{% extends event.kind.template_event_base %}
{% load i18n %}
{% block extra_head %}
{{ form.media }}
{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}

<h2>
	{% if talk %}{{ talk }}{% else %}{% trans "New talk" %}{% endif %}
</h2>

<h3>{% trans "Speaker(s)" %}</h3>

{{ speaker_formset.management_form }}
<ol>
{% for form in speaker_formset.forms %}
	<li> <table> {{ form.as_table }} </table> </li>
{% endfor %}
</ol>

<p>{% blocktrans %}
Additional speakers can be specified by saving the talk and then editing
it again.
{% endblocktrans %}</p>

<h3>{% trans "Talk" %}</h3>

<table>
	{{ form.as_table }}
</table>

<h3>{% trans "Schedule" %}</h3>

<p>{% blocktrans %}
For a lecture in several parts, fill one line for each part, optionally
with subtitles for each part.
{% endblocktrans %}</p>

{{ session_formset.management_form }}
<table class="seminar_formset">
{% for form in session_formset.forms %}
{% if forloop.first %}
	<thead><tr>
		{% for field in form.visible_fields %}<th>{{ field.label }}</th>{% endfor %}
	</tr></thead>
{% endif %}
	<tr>
	{% for field in form %}
		{% if field.is_hidden %}{{ field }}{% else %}
		<td>{{ field }}{{ field.errors }}</td>
		{% endif %}
	{% endfor %}
	</tr>
{% endfor %}
</table>

<p>{% blocktrans %}
Additional sessions can be specified by saving the talk and then editing
it again.
{% endblocktrans %}</p>

<h3>{% trans "Attachments" %}</h3>

<p>{% blocktrans %}
Each attachment must be either a file or an URL.
{% endblocktrans %}</p>

{{ attachment_formset.management_form }}
<ul>
{% for form in attachment_formset.forms %}
<li>{{ form.as_p }}</li>
{% endfor %}
</ul>

<p>{% blocktrans %}
Additional attachments can be provided by saving the talk and then editing
it again.
{% endblocktrans %}</p>

<p><input type="submit" value="{% trans "Submit" %}"/></p>

</form>

{% endblock %}
