{% extends event.kind.template_event_base %}
{% load i18n %}
{% block admin_links %}
	{% if perms.seminar.change_talk %}
	<li class="seminar_admin"><a href="{% url 'seminar-talk-edit' talk.event.slug talk.slug %}">{% trans "Edit talk" %}</a></li>
	{% endif %}
	{% if perms.seminar.delete_talk %}
	<li class="seminar_admin"><a href="{% url 'seminar-talk-delete' talk.event.slug talk.slug %}">{% trans "Delete talk" %}</a></li>
	{% endif %}
{% endblock %}
