/* Event blocks */

.seminar_event {
	text-align: justify;
	margin: 2ex 0;
	padding: 0 5pt;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.seminar_event h3 {
	margin: 0 -5pt;
	padding: 5pt;
	font-size: medium;
	font-weight: bold;
	background: #eee;
	color: black;
}

.seminar_event h3 a {
	color: inherit;
}

.seminar_event .seminar_description {
	margin: 5pt 0;
}

.seminar_talk_list_short {
	margin: 5pt 0 5pt 20pt;
}

.seminar_event p {
	margin: 0;
}

.seminar_date {
	font-weight: normal;
}

span.seminar_title:before, h1 .seminar_date:before {
	content: '\a';
	white-space: pre;
}

span.seminar_title:first-child:before {
	content: none;
}

/* Talks */

.seminar_speaker .name {
	font-weight: bold;
}

.seminar_speaker a {
	text-decoration: none;
	color: inherit;
}

.seminar_title {
	font-style: italic;
}

.seminar_title .seminar_remark {
	font-style: normal;
}

.seminar_abstract p {
	margin: 0;
	text-align: justify;
	text-indent: 2em;
}

.seminar_talk .seminar_abstract {
	margin: 1ex 2em;
}

.seminar_talk .seminar_abstract p:first-child {
	text-indent: 0;
}

/* Talk lists */

.seminar_talk_list li.talk {
	margin: 1ex 0;
}

.seminar_talk_list_short li.talk {
	margin: 0;
}


/* Schedule */

.seminar_programme dt {
	position: relative;
	left: 0;
	top: 1.5em;
	width: 70pt;
	margin: 0;
	font-size: x-small;
	font-weight: normal;
	text-align: right;
}

.seminar_programme dd {
	margin: 0 0 0 75pt;
	padding: 0 0 0 5pt;
	border-left: 1px dotted #888;
}


/* Calendars */

.seminar_calendar {
	display: block;
	position: relative;
	height: 80ex;
	margin: 2em 1em 1em 1em;
	padding: 2ex 0 0 0;
}

.seminar_calendar ul {
	margin: 0;
	padding: 0;
}

.seminar_hour_list {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
}

.seminar_hour_mark {
	display: block;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 0;
	border-top: dotted #ccc;
	border-width: 1px;
	font-size: 70%;
}

.seminar_hour_mark span {
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	margin: 0 .5em 0 0;
	color: #888;
}

.seminar_day_list {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid black;
	border-width: 1px;
	background: none;
}

.seminar_day_item {
	display: block;
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	border-right: dotted #ccc;
	border-width: 1px;
}

.seminar_day_title {
	position: absolute;
	bottom: 100%;
	width: 100%;
	text-align: center;
	background: black;
	border: solid black;
	border-width: 1px;
	margin: -1px;
	color: white;
	font-weight: bold;
}

.seminar_session_list {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.seminar_session_item {
	display: block;
	position: absolute;
	margin: 0;
	left: 0;
	width: 100%;
	text-align: left;
	border-color: #bbb;
	background: #ddd;
	overflow: hidden;
}

.seminar_session_item .seminar_content {
	display: block;
	padding: 0.3ex;
	border: solid white;
	border-width: 1px;
	height: 100%;
	font-size: 80%;
}

.seminar_session_item .seminar_title {
	display: inline;
}

.seminar_session_item a {
	text-decoration: none;
}
